<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyondsoft.rdc.cloud.iot.iam.server.businesscenter.mapper.IamBusinessCenterMapper" >
    <resultMap id="BaseResultMap" type="com.beyondsoft.rdc.cloud.iot.iam.server.businesscenter.model.IamBusinessCenterVo" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="INTEGER" />
    </resultMap>
    <sql id="Base_Column_List" >
    id, merchant_name, user_id, create_time, update_time, status
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from iam.iam_merchant
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iam.iam_merchant
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.beyondsoft.rdc.cloud.iot.iam.server.businesscenter.model.IamBusinessCenterDo" >
    insert into iam.iam_merchant (merchant_name, user_id, status)
    values (#{merchantName,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.beyondsoft.rdc.cloud.iot.iam.server.businesscenter.model.IamBusinessCenterDo">
        insert into iam.iam_merchant
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="merchantName != null" >
                merchant_name,
            </if>
            <if test="userId != null" >
                user_id,
            </if>
            <if test="status != null" >
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="merchantName != null" >
                #{merchantName,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="status != null" >
                #{status,jdbcType=INTEGER},
            </if>
        </trim>

    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.beyondsoft.rdc.cloud.iot.iam.server.businesscenter.model.IamBusinessCenterDo" >
        update iam.iam_merchant
        <set >
            <if test="merchantName != null" >
                merchant_name = #{merchantName,jdbcType=VARCHAR},
            </if>
            <if test="userId != null" >
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            update_time = now(),
            <if test="status != null" >
                status = #{status,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.beyondsoft.rdc.cloud.iot.iam.server.businesscenter.model.IamBusinessCenterDo" >
    update iam.iam_merchant
    set merchant_name = #{merchantName,jdbcType=VARCHAR},
        user_id = #{userId,jdbcType=INTEGER},
      update_time = now(),
      status = #{status,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="getList" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from iam.iam_merchant
        where user_id = #{userId,jdbcType=INTEGER}
        order by create_time desc
    </select>

    <select id="getByBusinessId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select
        <include refid="Base_Column_List" />
        from iam.iam_merchant
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
</mapper>