<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beyondsoft.rdc.cloud.iot.iam.server.label.mapper.LabelMapper" >
  <resultMap id="BaseResultMap" type="com.beyondsoft.rdc.cloud.iot.iam.server.label.model.LabelVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="label_name" property="labelName" jdbcType="VARCHAR" />
    <result column="label_type" property="labelType" jdbcType="INTEGER" />
    <result column="label_status" property="labelStatus" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, label_name, label_type, label_status, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from iam
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from iam.iam_label
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.beyondsoft.rdc.cloud.iot.iam.server.label.model.LabelDo" >
    insert into iam.iam_label (label_name, label_type,
      label_status
      )
    values (#{labelName,jdbcType=VARCHAR}, #{labelType,jdbcType=INTEGER},
      #{labelStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.beyondsoft.rdc.cloud.iot.iam.server.label.model.LabelDo" >
    insert into iam.iam_label
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="labelName != null" >
        label_name,
      </if>
      <if test="labelType != null" >
        label_type,
      </if>
      <if test="labelStatus != null" >
        label_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="labelName != null" >
        #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelType != null" >
        #{labelType,jdbcType=INTEGER},
      </if>
      <if test="labelStatus != null" >
        #{labelStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.beyondsoft.rdc.cloud.iot.iam.server.label.model.LabelDo" >
    update iam.iam_label
    <set >
      <if test="labelName != null" >
        label_name = #{labelName,jdbcType=VARCHAR},
      </if>
      <if test="labelType != null" >
        label_type = #{labelType,jdbcType=INTEGER},
      </if>
      <if test="labelStatus != null" >
        label_status = #{labelStatus,jdbcType=INTEGER},
      </if>
      update_time = now(),
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.beyondsoft.rdc.cloud.iot.iam.server.label.model.LabelDo" >
    update iam.iam_label
    set label_name = #{labelName,jdbcType=VARCHAR},
      label_type = #{labelType,jdbcType=INTEGER},
      label_status = #{labelStatus,jdbcType=INTEGER},
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from iam.iam_label
    order by create_time desc
  </select>
</mapper>